<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Project detail</h2>
    <table style="width:100%">
      <tr>
        <td>Project Name</td>
        <td>"{{project.title}}" by {{project.owner}}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td class={{project.result}} >
          {{project.result}}
        </td>
      </tr>
      <tr>
        <td>Target</td>
        <td>{{project.target_amount}} ether ( {{ project.achivement.toString() }} % raised )</td>
      </tr>
      <tr>
        <td>Deadline</td>
        <td>{{project.deadline_for_display}}</td>
      </tr>
      <tr>
        <td>Funding amount</td>
        <td>{{project.contributions}} ether contributed from {{project.contributors}} contributors</td>
      </tr>
    </table>

    <div class="activities" ng-if="activities.length > 0">
      </br>
      <h2>Activities</h2>
      <table bordercolor="#aabdeb">
        <tr>
          <th>
            Activity
          </th>
          <th>
            Amount
          </th>
          <th>
            Date
          </th>
          <th>
            Account
          </th>
        </tr>
        <tr ng-repeat="activity in activities">
          <td>{{ activity.activity }} </td>
          <td>{{ activity.amount }} ether</td>
          <td>{{ activity.time }} </td>
          <td>{{ activity.originAddress }}</td>
        </tr>
      </table>
    </div>
    </br>
    <div ng-if="project.result == 'pending'">
      <h2>Contribute</h2>
      <br/><label for="amount">Amount:</label>
      <input type="text" type="number" pattern="\d+(\.)?(\d+)?" min="1" max="99999999999999999" id="amount" ng-model="amount" placeholder="In Ether e.g., 100" required></input>
      <div class='account'>
        <label>Account:</label>
        <select ng-model="account"
          ng-options="account for account in accounts">
        </select>
      </div>

      <br><button id="create" ng-click="contribute(account, amount)">Contribute</button>
    </div>

    <div ng-if="project.result == 'failed'">
      <h2>Get refund</h2>
      <div class='account'>
        <label>Account:</label>
        <select ng-model="account"
          ng-options="account for account in accounts">
        </select>
      </div>

      <br><button id="create" ng-click="refund(account)">Refund</button>
    </div>

    <div ng-if="project.result == 'success'">
      <h2>Withdraw fund</h2>
      <div class='account'>
        <label>Account:</label>
        <select ng-model="account"
          ng-options="account for account in accounts">
        </select>
      </div>
      <br><button id="create" ng-click="withdrawPayments(account)">Withdraw</button> (if you are project owner)
    </div>
  </body>
</html>
