<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table style="width:100%">
      <tr>
        <td>Project Name</td>
        <td>{{project.title}} by {{project.owner.slice(0,10)}}...</td>
      </tr>
      <tr>
        <td>Status</td>
        <td class={{project.result}} >{{project.result}}</td>
      </tr>
      <tr>
        <td>Target</td>
        <td>{{project.target_amount}} ether</td>
      </tr>
      <tr>
        <td>Funding amount</td>
        <td>{{project.contributions}} ether contributed from {{project.contributors}} contributors</td>
      </tr>
    </table>

    <div ng-if="project.result == 'pending'">
      <h2>Contribute</h2>
      <br/><label for="amount">Amount:</label>
      <input type="text" type="number" pattern="\d+(\.)?(\d+)?" min="1" max="99999999999999999" id="amount" ng-model="amount" placeholder="In Ether e.g., 100" required></input>
      <label>Account:
        <select ng-model="account"
          ng-options="account for account in accounts">
        </select>
      </label><br/>
      <br><button id="create" ng-click="contribute(amount)">Contribute</button>
    </div>

    <div ng-if="project.result == 'failed'">
      <h2>Get refund</h2>
      <label>Account:
        <select ng-model="account"
          ng-options="account for account in accounts">
        </select>
      </label><br/>
      <br><button id="create" ng-click="refund(amount)">Refund</button>
    </div>

    <div ng-if="project.result == 'success'">
      <h2>Withdraw fund</h2>
      <label>Account:
        <select ng-model="account"
          ng-options="account for account in accounts">
        </select>
      </label><br/>
      <br><button id="create" ng-click="withdrawPayments(amount)">Withdraw</button> (if you are project owner)
    </div>

  </body>
</html>
